<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="triangle" class="springLearning.Triangle">
		<property name="points">
			<list>
				<ref bean="zeroPoint" />
				<ref bean="point2" />
				<ref bean="point3" />
			</list>
		</property>
		</bean>
	<bean id="zeroPoint" class="springLearning.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>

	<bean id="point2" class="springLearning.Point">
		<property name="x" value="10" />
		<property name="y" value="0" />
	</bean>
	<bean id="point3" class="springLearning.Point">
		<property name="x" value="0" />
		<property name="y" value="-10" />
	</bean>
</beans>